
    {% extends "layouts/base.html" %}
    {% block title %} Home {% endblock %} 
    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}
    <!--------Include Navbar-------->
    {% include "firstapp/navbar.html" %}
    <body>
    {% block content %}
    <div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Home Page</h4>
               
                <div class="row mt-5">
                    <div class="card">
                        <h1>Hello {{name}}</h1>
                    </div> 
                </div>       
            </div>
        </div>
    </div>            
    {% endblock content %}    
    </body>