<nav class="navbar navbar-dark ">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" href="/school_reg">School Registration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/player_reg">Player Registration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/player_data">Player Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/team_formation">Team Formation</a>
    </li>
    -->
    <li class="nav-item">
      <a class="nav-link" href="/school_register">School Registration 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/player_register">Player Registration 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/team_form">Team Formation 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/match_form">Match Formation 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/match_toss">Match Toss</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/match_view">Match View</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/volleyball_view">Volleyball View</a>
    </li>
    
  </ul>
</nav>
